# Практическая работа 4

## Задание
### За основу берется реализация практической работы 4.

### 1. Подсчитать RMSE для построенной регрессионной модели для одной характеристики (sqft_living) (используя тестовые данные).

In [101]:
import graphlab
sales = graphlab.SFrame('home_data.gl')
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

#### Разделяем на обучающаю и тестовую выборку в отношении 8 к 2

In [37]:
train_data,test_data = sales.random_split(.8,seed=0)

#### Создаём матрицы для X и Y

In [55]:
import numpy as np
x_train_data = np.vstack([
    np.ones(len(train_data)),
    train_data["sqft_living"].to_numpy()
]).T
y_train_data = train_data["price"].to_numpy()

#### Считаем модель

In [56]:
solution, residuals, rank, sigma = np.linalg.lstsq(x_train_data, y_train_data)
print "Solution: %s\nSums of residuals: %s\nRank of matrix a: %s\nSingular values of a: %s" % (solution, residuals, rank, sigma)

Solution: [-47116.07657494    281.95883857]
Sums of residuals: [  1.20191836e+15]
Rank of matrix a: 2
Singular values of a: [  2.99962443e+05   5.34105883e+01]

In [41]:
x_test_data = np.vstack([
    np.ones(len(test_data)),
    test_data['sqft_living'].to_numpy()
])

our_approximation = np.sum(x_test_data.T * solution, axis=1)
our_approximation

array([ 356085.06257687,  784662.49719977,  435033.53737582, ...,
        663420.19661566,  604208.84051644,  240481.93876411])

#### Считаем RMSE

In [42]:
def rmse(predictions, targets):
    return np.sqrt(np.mean((predictions-targets)**2))

RMSE_our = rmse(our_approximation, test_data['price'])
print RMSE_our

255191.051

### 2. Сравнить полученный результат с результатами для модели, построенной Graphlab (посчитать разницу).

In [43]:
sqft_model_graphlab = graphlab.linear_regression.create(train_data, target='price', features=['sqft_living'],validation_set=None)
graphlab_approximation = sqft_model_graphlab.predict(test_data).to_numpy()

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 1

Number of unpacked features : 1

Number of coefficients    : 2

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.003005     | 4349521.926170     | 262943.613754 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [44]:
RMSE_graphlab = sqft_model_graphlab.evaluate(test_data)['rmse']
RMSE_graphlab

255191.02870527358

In [45]:
RMSE_our - RMSE_graphlab

0.022294866328593343

### 3. Используя NumPy, построить регрессионную модель для расширенного списка характеристик:

In [46]:
advanced_features = [

    'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',

    'condition', # condition of house

    'grade', # measure of quality of construction

    'waterfront', # waterfront property

    'view', # type of view

    'sqft_above', # square feet above ground

    'sqft_basement', # square feet in basement

    'yr_built', # the year built

    'yr_renovated', # the year renovated

    'lat', 'long', # the lat-long of the parcel

    'sqft_living15', # average sq.ft. of 15 nearest neighbors

    'sqft_lot15', # average lot size of 15 nearest neighbors

    ]

In [108]:
x_train_data_ad = np.vstack([
    np.ones(len(train_data)),
    train_data['bedrooms'].to_numpy(),
    train_data['bathrooms'].to_numpy(),
    train_data['sqft_living'].to_numpy(),
    train_data['sqft_lot'].to_numpy(),
    train_data['floors'].to_numpy(),
    train_data['zipcode'].to_numpy(),
    train_data['condition'].to_numpy(),
    train_data['grade'].to_numpy(),
    train_data['waterfront'].to_numpy(),
    train_data['view'].to_numpy(),
    train_data['sqft_above'].to_numpy(),
    train_data['sqft_basement'].to_numpy(),
    train_data['yr_built'].to_numpy(),
    train_data['yr_renovated'].to_numpy(),
    train_data['lat'].to_numpy(),
    train_data['long'].to_numpy(),
    train_data['sqft_living15'].to_numpy(),
    train_data['sqft_lot15'].to_numpy()
]).T
y_train_data_ad = train_data["price"].to_numpy()

In [109]:
solution_ad, residuals_ad, rank_ad, sigma_ad = np.linalg.lstsq(x_train_data_ad, y_train_data_ad)
print "Solution: %s\nSums of residuals: %s\nRank of matrix a: %s\nSingular values of a: %s" % (solution_ad, residuals_ad, rank_ad, sigma_ad)

Solution: [  9.25042510e+06  -3.98800129e+04   4.16872066e+04   1.12595167e+02
   1.58183014e-01   4.85269607e+03  -6.07923514e+02   2.52214677e+04
   9.91204119e+04   6.06023667e+05   4.97295874e+04   7.07422823e+01
   4.18417344e+01  -2.68844672e+03   1.96012264e+01   6.03202070e+05
  -2.15116722e+05   2.01576610e+01  -3.91858091e-01]
Sums of residuals: []
Rank of matrix a: 18
Singular values of a: [  1.32702116e+07   6.01346556e+06   2.17840230e+06   1.71597349e+05
   6.97250724e+04   5.39007398e+04   5.06355602e+04   3.39202415e+03
   1.04343554e+02   9.00220336e+01   8.60498259e+01   7.78252874e+01
   6.11230742e+01   4.67273582e+01   1.69497364e+01   1.37894709e+01
   1.04344428e+01   6.16019686e-02   4.45838856e-11]

In [110]:
x_test_data_ad = np.vstack([
    np.ones(len(test_data)),
    test_data['bedrooms'].to_numpy(),
    test_data['bathrooms'].to_numpy(),
    test_data['sqft_living'].to_numpy(),
    test_data['sqft_lot'].to_numpy(),
    test_data['floors'].to_numpy(),
    test_data['zipcode'].to_numpy(),
    test_data['condition'].to_numpy(),
    test_data['grade'].to_numpy(),
    test_data['waterfront'].to_numpy(),
    test_data['view'].to_numpy(),
    test_data['sqft_above'].to_numpy(),
    test_data['sqft_basement'].to_numpy(),
    test_data['yr_built'].to_numpy(),
    test_data['yr_renovated'].to_numpy(),
    test_data['lat'].to_numpy(),
    test_data['long'].to_numpy(),
    test_data['sqft_living15'].to_numpy(),
    test_data['sqft_lot15'].to_numpy()
])

#### Не смог решить проблему с разными типами данных в таблице. Из-за этого на этом пункте появляются проблемы

In [112]:
our_approximation = np.sum(x_test_data_ad.T * solution_ad, axis=1)
our_approximation

TypeError: ufunc 'multiply' did not contain a loop with signature matching types dtype('S32') dtype('S32') dtype('S32')

#### a) посчитать RMSE

#### b) посчитайте разницу RMSE для модели my_features и advanced_features.

### 4. Сравнить полученный результат с результатами для модели, построенной Graphlab (посчитать разницу для каждого подпункта задания №3).

In [30]:
sqft_model_graphlab_ad = graphlab.linear_regression.create(train_data, target='price', features=advanced_features ,validation_set=None)
graphlab_approximation = sqft_model_graphlab.predict(test_data).to_numpy()

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.109291     | 3469012.450686     | 154580.940736 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [116]:
RMSE_graphlab_ad = sqft_model_graphlab.evaluate(test_data)['rmse']
RMSE_graphlab_ad

255191.02870527358