# Практическая работа №6
## Провести анализ набора данных Mass-Shootings-Dataset.csv

In [2]:
import graphlab

### 1. Считать данные из набора. Создать таблицу data только с интересующими столбцами (Title, Summary)

In [48]:
table = graphlab.SFrame("Mass-Shootings-Dataset.csv")
table

Unable to parse line "159,Marysville-Pilchuck High School shooting,"Marysville, Washington",10/24/2014,"Jaylen Fryberg, 15, using a .40-caliber Berretta, shot five "

Unable to parse line "students at Marysville High School, including two of his cousins and three friends, killing all but one. Fryberg arranged to meet them for lunch in the school cafeteria by text. Fryberg was reportedly well-liked at the school and there was not believed to ..."

Unable to parse line "107,Parking lot near Boys and Girls Club,"Rochester, New York",8/19/2015,"Around 11:20 p.m. Wednesday on Genesee Street, a gunman shot into a crowd that gathered outside the Rochester Boys and Girls Club after a basketball game, killing three people and wo..."

Unable to parse line "Drive-by, Gang involvement",3,4,7,Unknown,Black American or African American,Male,43.1696837,-77.614337"

Unable to parse line "124,Annual motorcycle event in Newark,"Newark, New Jersey",5/10/2015,"The shooting occurred during an annual event marking the opening of the motorcycle season. More than 2,000 people were in attendance when gunfire erupted at South 16th Street and 19th Av..."

Unable to parse line "The shooting was a result of a long-running feud between two other against the shooter and the 16-year-old.",1,3,4,Unknown,Black American or African American,Male,40.73169648,-74.18417699"

6 lines failed to parse correctly

Finished parsing file D:\Programming\Anaconda\Scripts\ML ONPU\Machine-learning-ONPU-2017\Assignment 6\Mass-Shootings-Dataset.csv

Parsing completed. Parsed 100 lines in 0.022559 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,str,str,str,str,long,long,long,str,str,str,float,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Unable to parse line "159,Marysville-Pilchuck High School shooting,"Marysville, Washington",10/24/2014,"Jaylen Fryberg, 15, using a .40-caliber Berretta, shot five "

Unable to parse line "students at Marysville High School, including two of his cousins and three friends, killing all but one. Fryberg arranged to meet them for lunch in the school cafeteria by text. Fryberg was reportedly well-liked at the school and there was not believed to ..."

Unable to parse line "107,Parking lot near Boys and Girls Club,"Rochester, New York",8/19/2015,"Around 11:20 p.m. Wednesday on Genesee Street, a gunman shot into a crowd that gathered outside the Rochester Boys and Girls Club after a basketball game, killing three people and wo..."

Unable to parse line "Drive-by, Gang involvement",3,4,7,Unknown,Black American or African American,Male,43.1696837,-77.614337"

Unable to parse line "124,Annual motorcycle event in Newark,"Newark, New Jersey",5/10/2015,"The shooting occurred during an annual event marking the opening of the motorcycle season. More than 2,000 people were in attendance when gunfire erupted at South 16th Street and 19th Av..."

Unable to parse line "The shooting was a result of a long-running feud between two other against the shooter and the 16-year-old.",1,3,4,Unknown,Black American or African American,Male,40.73169648,-74.18417699"

6 lines failed to parse correctly

Finished parsing file D:\Programming\Anaconda\Scripts\ML ONPU\Machine-learning-ONPU-2017\Assignment 6\Mass-Shootings-Dataset.csv

Parsing completed. Parsed 395 lines in 0.029583 secs.

Columns:
	S#	int
	Title	str
	Location	str
	Date	str
	Summary	str
	Fatalities	int
	Injured	int
	Total victims	int
	Mental Health Issues	str
	Race	str
	Gender	str
	Latitude	float
	Longitude	float

Rows: 395

Data:
+----+-------------------------------+--------------------------+-----------+
| S# |             Title             |         Location         |    Date   |
+----+-------------------------------+--------------------------+-----------+
| 1  | Las Vegas Strip mass shooting |      Las Vegas, NV       | 10/1/2017 |
| 2  |   San Francisco UPS shooting  |    San Francisco, CA     | 6/14/2017 |
| 3  | Pennsylvania supermarket s... |     Tunkhannock, PA      |  6/7/2017 |
| 4  | Florida awning manufacture... |     Orlando, Florida     |  6/5/2017 |
| 5  | Rural Ohio nursing home sh... |    Kirkersville, Ohio    | 5/12/2017 |
| 6  |    Fresno downtown shooting   |    Fresno, California    | 4/18/2017 |
| 7  | Fort Lauderdale airport sh... | Fort Lauderdale, Florida |  1/6/2017 |
| 8  |     Cascade Mall shooting     |      Burlington, WA      | 9/23/2016 |
| 9  |  Baton Rouge police shooting  |     Baton Rouge, LA      | 7/17/2016 |
| 10 |     Dallas police shooting    |      Dallas, Texas       |  7/7/2016 |
+----+-------------------------------+--------------------------+-----------+
+-------------------------------+------------+---------+---------------+----------------------+
|            Summary            | Fatalities | Injured | Total victims | Mental Health Issues |
+-------------------------------+------------+---------+---------------+----------------------+
|                               |     58     |   515   |      573      |       Unclear        |
| Jimmy Lam, 38, fatally sho... |     3      |    2    |       5       |         Yes          |
| Randy Stair, a 24-year-old... |     3      |    0    |       3       |       Unclear        |
| John Robert Neumann, Jr., ... |     5      |    0    |       5       |       Unclear        |
| Thomas Hartless, 43, shot ... |     3      |    0    |       3       |         Yes          |
| Kori Ali Muhammad, 39, ope... |     3      |    0    |       3       |       Unclear        |
| Esteban Santiago, 26, flew... |     5      |    6    |       11      |         Yes          |
| Arcan Cetin, 20, killed a ... |     5      |    0    |       5       |         Yes          |
| Gavin Long, a former Marin... |     3      |    3    |       6       |         Yes          |
| Micah Xavier Johnson, a 25... |     5      |    11   |       16      |       Unclear        |
+-------------------------------+------------+---------+---------------+----------------------+
+--------+--------+----------+-----------+
|  Race  | Gender | Latitude | Longitude |
+--------+--------+----------+-----------+
|        |        |   None   |    None   |
| Asian  |   M    |   None   |    None   |
| White  |   M    |   None   |    None   |
|        |   M    |   None   |    None   |
| White  |   M    |   None   |    None   |
| Black  |   M    |   None   |    None   |
| Latino |   M    |   None   |    None   |
|        |   M    |   None   |    None   |
| Black  |   M    |   None   |    None   |
| Black  |   M    |   None   |    None   |
+--------+--------+----------+-----------+
[395 rows x 13 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
data = graphlab.SFrame()
data['Title'] = table['Title']
data['Summary'] = table['Summary']
data

Columns:
	Title	str
	Summary	str

Rows: 395

Data:
+-------------------------------+-------------------------------+
|             Title             |            Summary            |
+-------------------------------+-------------------------------+
| Las Vegas Strip mass shooting |                               |
|   San Francisco UPS shooting  | Jimmy Lam, 38, fatally sho... |
| Pennsylvania supermarket s... | Randy Stair, a 24-year-old... |
| Florida awning manufacture... | John Robert Neumann, Jr., ... |
| Rural Ohio nursing home sh... | Thomas Hartless, 43, shot ... |
|    Fresno downtown shooting   | Kori Ali Muhammad, 39, ope... |
| Fort Lauderdale airport sh... | Esteban Santiago, 26, flew... |
|     Cascade Mall shooting     | Arcan Cetin, 20, killed a ... |
|  Baton Rouge police shooting  | Gavin Long, a former Marin... |
|     Dallas police shooting    | Micah Xavier Johnson, a 25... |
+-------------------------------+-------------------------------+
[395 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

#### Так как первый отзыв считался с ошибкой, откинем его

In [5]:
data = data[data['Summary'] !=  '']
data

Columns:
	Title	str
	Summary	str

Rows: Unknown

Data:
+-------------------------------+-------------------------------+
|             Title             |            Summary            |
+-------------------------------+-------------------------------+
|   San Francisco UPS shooting  | Jimmy Lam, 38, fatally sho... |
| Pennsylvania supermarket s... | Randy Stair, a 24-year-old... |
| Florida awning manufacture... | John Robert Neumann, Jr., ... |
| Rural Ohio nursing home sh... | Thomas Hartless, 43, shot ... |
|    Fresno downtown shooting   | Kori Ali Muhammad, 39, ope... |
| Fort Lauderdale airport sh... | Esteban Santiago, 26, flew... |
|     Cascade Mall shooting     | Arcan Cetin, 20, killed a ... |
|  Baton Rouge police shooting  | Gavin Long, a former Marin... |
|     Dallas police shooting    | Micah Xavier Johnson, a 25... |
|   Orlando nightclub massacre  | Omar Mateen, 29, attacked ... |
+-------------------------------+-------------------------------+
[? rows x 2 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

### 2. Подсчитать word_count столбца Summary для всех записей таблицы data и записать данные в новый столбец этой таблицы word_count.

In [6]:
data['word_count'] = graphlab.text_analytics.count_words(data['Summary'])
data

Columns:
	Title	str
	Summary	str
	word_count	dict

Rows: 394

Data:
+-------------------------------+-------------------------------+
|             Title             |            Summary            |
+-------------------------------+-------------------------------+
|   San Francisco UPS shooting  | Jimmy Lam, 38, fatally sho... |
| Pennsylvania supermarket s... | Randy Stair, a 24-year-old... |
| Florida awning manufacture... | John Robert Neumann, Jr., ... |
| Rural Ohio nursing home sh... | Thomas Hartless, 43, shot ... |
|    Fresno downtown shooting   | Kori Ali Muhammad, 39, ope... |
| Fort Lauderdale airport sh... | Esteban Santiago, 26, flew... |
|     Cascade Mall shooting     | Arcan Cetin, 20, killed a ... |
|  Baton Rouge police shooting  | Gavin Long, a former Marin... |
|     Dallas police shooting    | Micah Xavier Johnson, a 25... |
|   Orlando nightclub massacre  | Omar Mateen, 29, attacked ... |
+-------------------------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'and': 1L, 'jimmy': 1L, '... |
| {'and': 1L, 'his': 1L, 'st... |
| {'and': 1L, 'one-year': 1L... |
| {'and': 3L, 'thomas': 1L, ... |
| {'and': 1L, 'his': 1L, 'mu... |
| {'and': 1L, 'claim': 1L, '... |
| {'and': 2L, 'residence.': ... |
| {'and': 1L, 'shoot-out': 1... |
| {'and': 1L, 'lives': 1L, '... |
| {'standoff.': 1L, 'pulse':... |
+-------------------------------+
[394 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 3. Используя graphlab.SFrame.stack сформировать новую таблицу words_count со столбцами  ['word','count'] на основе столбца word_count из пункта 2.

In [17]:
words_count = graphlab.SFrame()
words_count = data.stack('word_count', new_column_name=['word', 'count'])['word', 'count']
words_count

Columns:
	word	str
	count	int

Rows: 14221

Data:
+-------------+-------+
|     word    | count |
+-------------+-------+
|     the     |   1   |
|      to     |   1   |
|  responded  |   1   |
|   officers  |   1   |
| enforcement |   1   |
|     two     |   1   |
|   wounded   |   1   |
|      as     |   1   |
|     shot    |   1   |
|  francisco. |   1   |
+-------------+-------+
[14221 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 4. Объединить данные таблицы words_count по столбцу word.

In [18]:
words_count = words_count.groupby(key_columns='word', operations={'count': graphlab.aggregate.COUNT()})

### 5. Отсортировать их по убыванию количества слов.

In [19]:
words_count.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 3238

Data:
+--------+-------+
|  word  | count |
+--------+-------+
|   a    |  347  |
|  and   |  326  |
|  the   |  317  |
|   in   |  272  |
|   on   |  270  |
|   at   |  217  |
|   he   |  199  |
|  his   |  178  |
| before |  178  |
|   of   |  178  |
+--------+-------+
[3238 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 6. Подсчитать TF-IDF столбца Summary для всех записей таблицы data и записать данные в новый столбец tfidf.

In [22]:
data['tf-idf'] = graphlab.text_analytics.tf_idf(data['Summary'])
data

Columns:
	Title	str
	Summary	str
	word_count	dict
	tf-idf	dict

Rows: 394

Data:
+-------------------------------+-------------------------------+
|             Title             |            Summary            |
+-------------------------------+-------------------------------+
|   San Francisco UPS shooting  | Jimmy Lam, 38, fatally sho... |
| Pennsylvania supermarket s... | Randy Stair, a 24-year-old... |
| Florida awning manufacture... | John Robert Neumann, Jr., ... |
| Rural Ohio nursing home sh... | Thomas Hartless, 43, shot ... |
|    Fresno downtown shooting   | Kori Ali Muhammad, 39, ope... |
| Fort Lauderdale airport sh... | Esteban Santiago, 26, flew... |
|     Cascade Mall shooting     | Arcan Cetin, 20, killed a ... |
|  Baton Rouge police shooting  | Gavin Long, a former Marin... |
|     Dallas police shooting    | Micah Xavier Johnson, a 25... |
|   Orlando nightclub massacre  | Omar Mateen, 29, attacked ... |
+-------------------------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tf-idf            |
+-------------------------------+-------------------------------+
| {'and': 1L, 'jimmy': 1L, '... | {'and': 0.1894535279312261... |
| {'and': 1L, 'his': 1L, 'st... | {'and': 0.1894535279312261... |
| {'and': 1L, 'one-year': 1L... | {'and': 0.1894535279312261... |
| {'and': 3L, 'thomas': 1L, ... | {'and': 0.5683605837936783... |
| {'and': 1L, 'his': 1L, 'mu... | {'and': 0.1894535279312261... |
| {'and': 1L, 'claim': 1L, '... | {'and': 0.1894535279312261... |
| {'and': 2L, 'residence.': ... | {'and': 0.3789070558624522... |
| {'and': 1L, 'shoot-out': 1... | {'and': 0.1894535279312261... |
| {'and': 1L, 'lives': 1L, '... | {'and': 0.1894535279312261... |
| {'standoff.': 1L, 'pulse':... | {'standoff.': 4.8777386206... |
+-------------------------------+-------------------------------+
[394 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 7. Используя graphlab.SFrame.stack сформировать новую таблицу tf_idf со столбцами  ['word','tfidf'] на основе столбца tfidf из пункта 6.

In [23]:
tf_idf = graphlab.SFrame()
tf_idf = data.stack('tf-idf', ['word', 'tfidf'])['word', 'tfidf']
tf_idf

Columns:
	word	str
	tfidf	float

Rows: 14221

Data:
+-------------+----------------+
|     word    |     tfidf      |
+-------------+----------------+
|     the     | 0.217449135421 |
|      to     | 0.92010510395  |
|  responded  | 5.28320372874  |
|   officers  | 3.14313756524  |
| enforcement | 3.89690936762  |
|     two     | 1.03470848669  |
|   wounded   | 1.72785566725  |
|      as     | 2.54236370481  |
|     shot    | 0.965715615202 |
|  francisco. |  5.9763509093  |
+-------------+----------------+
[14221 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 8. Отсортировать их по убыванию значения TF-IDF.

In [24]:
tf_idf.sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 14221

Data:
+------------+---------------+
|    word    |     tfidf     |
+------------+---------------+
|  trooper   | 23.9054036372 |
| protesters | 17.9290527279 |
|  players   | 17.9290527279 |
|  session   | 17.9290527279 |
| ex-wife's  | 15.8496111862 |
|    isla    | 15.8496111862 |
|    whom    | 15.8496111862 |
|    she     | 15.5876374705 |
|    bus     | 13.7701696445 |
|  station   | 13.7701696445 |
+------------+---------------+
[14221 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### 9. Выбрать 3 записи из таблицы data (вывести данные) и с помощью функции graphlab.toolkits.distances.cosine подсчитать между ними (попарно) расстояние на основе:
#### a) word_count
#### b) tfidf
#### Сравнить полученные результаты (используя форматированный вывод):

#### Например:

#### Для пары %title_1% и %title_2% расстояние по

#### word_count - %значение_1%
#### TF-IDF - %значение_2%
#### %word_count или TF-IDF% показал большую схожесть.
#### %word_count или TF-IDF% показал лучший результат.

#### Лучший результат сравнения записей определить на основе личного анализа данных по: совпадению локации и описания преступления, данных о пострадавших и самом преступнике.

#### Выбор 3-х случайных записей с помощью функции случайных чисел

In [25]:
import numpy as np

In [27]:
first = np.random.randint(0, len(data))
second = np.random.randint(0, len(data))
third = np.random.randint(0, len(data))
first, second, third

(118, 65, 25)

In [29]:
first = data[first]
first['Summary']

"On May 31, 2015, the shooter entered the business just before 5 pm and open fire. He appeared to randomly shoot at anyone in his path but turns and leaves the building when an armed citizen off-camera returns fire. After the shooter left the liquor store, he  returned to his parents' home and shot and wounded them both. "

In [30]:
second = data[second]
second['Summary']

'Two people were killed and several others were hurt in a mass shooting inside an Orlando nightclub early Sunday morning.'

In [31]:
third = data[third]
third['Summary']

'Husband murders his wife and injures his two sons at their home in rural Alabama, then commits suicide'

#### Первая пара: первый и второй отзыв

In [49]:
first_wc = graphlab.distances.cosine(first['word_count'], second['word_count'])
first_tf =  graphlab.distances.cosine(first['tf-idf'], second['tf-idf'])

print "Для пары \"" + first['Title'] + "\" и \"" + second['Title'] + "\" расстояние по: "
print "a) word_count =",first_wc
print "b) tf-idf =", first_tf
print "TF-IDF показал большую схожесть."
print "TF-IDF показал лучший результат."

Для пары "Conyers" и "Orlando, Florida" расстояние по:
a) word_count = 0.872079570187
b) tf-idf = 0.992470721474
TF-IDF показал большую схожесть.
TF-IDF показал лучший результат.

#### Вторая пара: первый и третий отзыв

In [51]:
second_wc = graphlab.distances.cosine(first['word_count'], third['word_count'])
second_tf = graphlab.distances.cosine(first['tf-idf'], third['tf-idf'])

print "Для пары \"" + first['Title'] + "\" и \"" + third['Title'] + "\" расстояние по: "
print "a) word_count =",second_wc
print "b) tf-idf =", second_tf
print "TF-IDF показал большую схожесть."
print "TF-IDF показал лучший результат."

Для пары "Conyers" и "Greenhill, AL Family murder-suicide" расстояние по:
a) word_count = 0.754032522475
b) tf-idf = 0.978466616999
TF-IDF показал большую схожесть.
TF-IDF показал лучший результат.

#### Третья пара: второй и третий отзыв

In [52]:
third_wc = graphlab.distances.cosine(second['word_count'], third['word_count'])
third_tf = graphlab.distances.cosine(second['tf-idf'], third['tf-idf'])

print "Для пары \"" + second['Title'] + "\" и \"" + third['Title'] + "\" расстояние по: "
print "a) word_count =",third_wc
print "b) tf-idf =", third_tf
print "TF-IDF показал большую схожесть."
print "word_count показал лучший результат."

Для пары "Orlando, Florida" и "Greenhill, AL Family murder-suicide" расстояние по:
a) word_count = 0.856980611613
b) tf-idf = 0.993668027485
TF-IDF показал большую схожесть.
word_count показал лучший результат.